.img-right-banner-top {
  width: 89%; }

.form-control::-webkit-input-placeholder {
  color: #878787; }

.form-control::-moz-placeholder {
  color: #878787; }

.form-control::-ms-input-placeholder {
  color: #878787; }

.form-control::placeholder {
  color: #878787; }

input.form-control::-webkit-calendar-picker-indicator {
  -webkit-filter: contrast(0);
          filter: contrast(0); }
